body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite ;
  padding-bottom: 3em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-container{
  text-align: center;
  margin: 2px;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.acercaDe{
  font-size: 2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(160, 141, 120);
}

.pie-pagina{
  width: 100%;
  bottom: 0;
  background-color: rgb(206, 194, 178);
  position: absolute;
  text-align: center;
  padding: 30px 30px 20px; 
}
.prf{
  color: rgb(160, 141, 120);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

.descrip{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.correo{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nombre{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
  color: rgb(160, 141, 120);
}

.imgFotoP{
  border-radius: 25px;
  border-style:groove;
}